/* Colors */
/* Rainy theme 5 -Green Digitalization Course and Students Apps-:
Navbar (background): #8bbbd9
Navbar (a hover): #466fa6
Navbar (logo): #568c63
Navbar (a menu): #2a4359
*/

/* Google fonts Roboto  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

/* CSS utilities */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 180s;
        animation: slidein 180s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:6000px; }
to {background-position: 0px 0px;background-size:6000px;}
}

@keyframes slidein {
from {background-position: top;background-size:6000px; }
to {background-position: 0px 0px;background-size:6000px;}
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
.container {
  margin: auto;
  max-width: 1320px;
}
ul { 
  list-style: none;
  font-size: 400;
}
a {
  color: #333;
  text-decoration: none;
}
h1, h2 {
  font-weight: 400;
  line-height: 1.2;
}
p {
  margin: 10px 0;
  font-size: 14px;
}
img {
  width: 100%;
}

/* Navbar  */
.section_carbon_app_navbar {
  background-color:#000000b2;
}
.carbon_app_navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 70px;
  align-items: center;
  padding: 0 0px;
}
.carbon_app_navbar a{
  color: #ffffff99;
  font-size: 30px;
  padding: 10px 20px;
}

.carbon_app_navbar ul li {
  position: relative;
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.carbon_app_navbar ul li a {
  text-decoration: none;
  color: #568c63; 
  position: relative;
  font-size: 20px;
}

.carbon_app_navbar ul li:hover a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #568c63;
  transition: transform 0.5s ease;
  transform-origin: bottom right;
  transform: scaleX(0);
}

.carbon_app_navbar ul li:hover a:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

.nav_far_right {
  display: flex;
  justify-content: right;
}

.nav_far_right ul li{
  display: flex;
  flex-direction: row; 
}


.carbon_app_navbar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
}
.carbon_app_navbar .logo {
  font-weight: 400;
  
}

.text-logo {
  color: #568c63;
  font-size: 40px;
}
/* Footer  */
.section_footer{
  background-color:#000000b2;
  color: #568c63;
  flex: 1;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 70px;
  align-items: center;
  padding: 0 0px;
}


/* Media query */
@media(max-width:768px){
  .carbon_app_navbar {
    height: 180px;
    flex-direction: column;
  }
  .carbon_app_navbar a {
    font-size: 15px;
    padding: 5px 20px;
  }
  .carbon_app_navbar ul {
    display: flex;
    flex-direction: column;
  }
  .carbon_app_navbar a:hover{
    color: #568c63;
    border-bottom: #2a4359 2px solid;
  }
}